<!--The content below is only a placeholder and can be replaced.-->
<!-- NAVBAR -->
<div class='navbar'>
  <div class='logo'>EDA Example</div>
  <div class='cart-container'>
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <div class='cart-desc'>0 items</div>
  </div>

</div>

<!-- INFO BAR -->
<div class='info-wrapper'>
  <div class='shipping-container'>
    <i class="fa fa-truck fa-2x "></i>
    <div class='info-desc'>Free shipping</div>
  </div>
  <div class='inventory-container'>
    <i class="fa fa-shopping-basket fa-2x "></i>
    <div class='info-desc'>Largest online inventory</div>
  </div>
</div>

<!-- MAIN WRAPPER -->
<div class='main-wrapper'>
  <div class="menu">
    <ul class="stores">
      <li *ngFor="let store of stores"
          [class.selected]= 'store === selectedStore'
          (click)="onSelect(store)">
        <div class="menu-item Amazon">
          <div class='menu-item-title'>{{store.name}}</div>
          <div class='menu-item-number'>{{store.id}}</div>
        </div>
      </li>
    </ul>

    <div class="menu-item Amazon">
      <div class='menu-item-title'>Test</div>
      <div class='menu-item-number'>2</div>
    </div>
    <div class='menu-item Amazon'>
      <div class='menu-item-title'>Amazon</div>
      <div class='menu-item-number'>13</div>
    </div>
    <div class='menu-item Lenovo'>
      <div class='menu-item-title'>Lenovo</div>
      <div class='menu-item-number'>88</div>
    </div>
    <div class='menu-item'>
      <div class='menu-item-title'>Mobile Phones</div>
      <div class='menu-item-number'>54</div>
    </div>
    <div class='menu-item'>
      <div class='menu-item-title'>Electronics</div>
      <div class='menu-item-number'>99</div>
    </div>
  </div>

  <div class='products-container'>


    <div class='shop-card' data-cat='Amazon'>
      <div class="title">
        Nike Metcon 2
      </div>
      <div class="desc">
        Men's training shoe
      </div>
      <div class="product">
        <img src="http://placehold.it/350x200"/>
      </div>
      <div class='cta'>
        <div class="price">$130</div>
        <button class="button">Add to cart</button>
      </div>
    </div>

    <div class='shop-card' data-cat='Amazon'>
      <div class="title">
        Nike Lunar
      </div>
      <div class="desc">
        Men's running shoe
      </div>
      <div class="product">
        <img src="http://placehold.it/350x200"/>
      </div>
      <div class='cta'>
        <div class="price">$220</div>
        <button class="button">Add to cart</button>
      </div>
    </div>

    <div class='shop-card' data-cat='Lenovo'>
      <div class="title">
        Adidas fitty 3
      </div>
      <div class="desc">
        Women's tennis shoe
      </div>
      <div class="product">
        <img src="http://placehold.it/350x200"/>
      </div>
      <div class='cta'>
        <div class="price">$90</div>
        <button class="button">Add to cart</button>
      </div>
    </div>

    <div class='shop-card' data-cat='Amazon'>
      <div class="title">
        Nike Lunar
      </div>
      <div class="desc">
        Men's running shoe
      </div>
      <div class="product">
        <img src="http://placehold.it/350x200"/>
      </div>
      <div class='cta'>
        <div class="price">$220</div>
        <button class="button">Add to cart</button>
      </div>
    </div>

    <div class='shop-card' data-cat='Lenovo'>
      <div class="title">
        Nike Lunar
      </div>
      <div class="desc">
        Men's running shoe
      </div>
      <div class="product">
        <img src="http://placehold.it/350x200"/>
      </div>
      <div class='cta'>
        <div class="price">$220</div>
        <button class="button">Add to cart</button>
      </div>
    </div>

    <div class='shop-card'>
      <div class="title">
        Nike Lunar
      </div>
      <div class="desc">
        Men's running shoe
      </div>
      <div class="product">
        <img src="http://placehold.it/350x200"/>
      </div>
      <div class='cta'>
        <div class="price">$220</div>
        <button class="button">Add to cart</button>
      </div>
    </div>

    <div class='shop-card'>
      <div class="title">
        Nike Lunar
      </div>
      <div class="desc">
        Men's running shoe
      </div>
      <div class="product">
        <img src="http://placehold.it/350x200"/>
      </div>
      <div class='cta'>
        <div class="price">$220</div>
        <button class="button">Add to cart</button>
      </div>
    </div>

    <div class='shop-card'>
      <div class="title">
        Nike Lunar
      </div>
      <div class="desc">
        Men's running shoe
      </div>
      <div class="product">
        <img src="http://placehold.it/350x200"/>
      </div>
      <div class='cta'>
        <div class="price">$220</div>
        <button class="button">Add to cart</button>
      </div>
    </div>

  </div>
</div>

<div class='modal'>
  <div>asdasdas asd as</div>
  <div>asdasdas asd as</div>
  <div>asdasdas asd as</div>
  <div>asdasdas asd as</div>
</div>

<script src="../scripts/script.js"></script>
